.centered {
  margin: auto;
  display: table;
  color: white;
}

.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('./assets/forest.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  min-height: 100vh;
}

.snow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/snow.jpg');
}

.mist {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/mist.jpg');
}

.sun {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/sunny.jpg');
}

.cloud {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/cloud.jpg');
}

.rain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/rain.jpg');
}

.clear {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('./assets/clear.jpg');
}